.home .body {
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
    padding-bottom: 1.1rem;
}

.head {
    width: 100%;
    height: .8rem;
    overflow: hidden;
    padding: .24rem 0;
    background-color: #ffffff;
    border-bottom: .01rem solid #f1f1f1;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.address {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.address img {
    width: .4rem;
}

.address span {
    padding-top: .12rem;
    font-size: .24rem;
    color: #a8a3a7;
}

.head-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .32rem;
}

.head-title img {
    width: .24rem;
    padding-left: .12rem;
}

.search {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner {
    margin-top: 1.3rem;
    width: 100%;
    /* height: 4.33rem; */
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    height: 2.73rem;
}

.swiper-container {
    --swiper-theme-color: #ffffff;

}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    left: 2.4rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 .1rem;
}
.swiper-pagination-bullet{
    width: .1rem;
    height: .1rem;
}
.swiper-pagination-bullet{
    opacity: 1;
}

.menu {
    padding: .3rem;
    background-color: #ffffff;
}

.menu1 {
    display: flex;
    justify-content: space-between;
}

.menu1 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu1 li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu1 li a div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #9bcbb5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 li a span {
    margin-top: .2rem;
    font-size: .28rem;
    color: #000;
}

.menu1 li:nth-child(2) div {
    background-color: #E6C3BD;
}

.menu1 li:nth-child(3) div {
    background-color: #EED0B8;
}

.menu1 li:nth-child(4) div {
    background-color: #8CB2C5;
}

.menu1 li img:nth-child(1) {
    width: .52rem;
}

.box1 {
    margin-top: .1rem;
    padding: 0 .3rem .2rem;
    background-color: #ffffff;
}

.text {
    width: 100%;
    height: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text span {
    font-size: .32rem;
}

.text img {
    margin-left: .12rem;
    width: .36rem;
}

.box1-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box1-1 li {
    width: 31.4%;
}

.box1-1 img {
    width: 100%;
}

.s-banner {
    width: 100%;
    padding-bottom: .2rem;
}

.s-banner img {
    width: 100%;
    border-radius: 1rem;
}

.box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box2 li {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2 li img {
    width: 100%;
    margin: .1rem 0;
}

.box2 li span {
    font-size: .28rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.box2 li div {
    width: 100%;
}

.box2 li div span {
    display: inline-block;
    background-color: #ff8950;
    padding: 0 .14rem;
    border-radius: .06rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .24rem;
    color: #ffffff;
    opacity: 0;
}

.box2 li:nth-child(1) div span {
    opacity: 1;
}

.price {
    display: inline-block;
    width: 100%;
    color: #EA4D13;
    font-size: .28rem;
    margin-top: .16rem;
}

.price s {
    color: #979797;
    font-size: .24rem;
    margin-left: .04rem;
}

.returns {
    position: fixed;
    bottom: 1.4rem;
    right: .4rem;
    opacity: 0;
}

.returns img {
    width: .7rem;
    height: .7rem;
}

.foot {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 1rem;
    background: #FFF;
    border-top: .02rem solid #DCDCDC;
}

.foot>a {
    width: 25%;
    float: left;
    height: 1rem;
    text-align: center;
    color: #232326;
}

.foot>a span:first-child {
    width: .42rem;
    height: .42rem;
    display: inline-block;
    margin-top: .1rem;
}

.foot>a span:first-child img {
    width: 100%;
    height: 100%;
    float: left;
}

.foot>a span:last-child {
    width: 100%;
    float: left;
    font-size: .26rem;
}

.foot-color {
    color: #FF9201;
}